// Font Weights
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;

// Colors
$primary-color: #5f74dd;
$secondary-color: #979baf;
$white-color: #fff;
$black-color: #000;

// Shadows
$primary-box-shadow: 0px 2px 6px #0000001a;
