@import 'reset';
@import 'variables';
@import 'mixins';

html {
  font-size: 62.5%; // 1rem => 10px
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: $white-color;
  font-weight: $regular-weight;
  color: $black-color;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.header {
  padding-top: 2.2rem;
}

.hamburger {
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &--active {
    transform: translatex(calc(50vw - 3.6rem));
  }

  &__box {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 2px 6px #0000001a;
  }

  &__inner {
    @include hamburger-line;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.1s 0.2s ease-in-out;

    &::before,
    &::after {
      @include hamburger-line;

      content: '';
      left: 0;
      transition: transform 0.2s 0.2s ease-in-out, width 0.1s linear;
    }

    &::before {
      top: -0.6rem;
    }

    &::after {
      top: 0.6rem;
      width: 1rem;
    }
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner:before {
    transform: translateY(0.6rem) rotate(45deg);
  }

  &--active &__inner:after {
    width: 1.6rem;
    transform: translateY(-0.6rem) rotate(-45deg);
  }
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0.4s;
}

.navigation {
  height: 100vh;
  width: 50vw;
  background-color: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateX(-50vw);

  &--active {
    transform: translateX(0px);
    transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0s;
    visibility: visible;
  }

  &__list {
    margin: 5rem;
  }

  &__item {
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: $black-color;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  &::after {
    content: '';
    left: 0;
    border-top: 1px solid #dfdfdf;
    width: 100%;
    margin: 12rem 0;
  }

  &__picture {
    object-position: center;
  }

  &__title,
  &__subtitle {
    font-weight: $medium-weight;
    text-align: center;
  }

  &__title {
    font-size: 3.3rem;
    line-height: 4.2rem;
    margin: 6.2rem 0 2rem;
  }

  &__subtitle {
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding: 0 6rem 10rem;
    color: $secondary-color;
  }

  &__button {
    cursor: pointer;
    background: $primary-color;
    font-size: 1.3rem;
    color: $white-color;
    padding: 2rem 6rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: $medium-weight;
  }
}

.company {
  text-align: center;
  padding-bottom: 10rem;

  &__link {
    display: block;
    padding: 10px;
    margin: 20px 0;
  }

  &__details {
    font-size: 1.3rem;
  }

  .details__heading {
    font-size: 1.6rem;
    font-weight: $semibold-weight;
    line-height: 2.2rem;

    &::after {
      content: '';
      display: block;
      left: 0;
      border-top: 3px solid $black-color;
      width: 1.3rem;
      margin: 5rem auto;
    }
  }

  .details__list {
    line-height: 1.8rem;

    a {
      padding: 1rem;
      text-decoration: none;
      color: $black-color;
    }
  }

  .details__item {
    padding-bottom: 2rem;

    &:first-of-type {
      padding-bottom: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
