@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import 'reset';
@import 'variables';
@import 'mixins';

html {
  font-size: 62.5%; // 1rem => 10px
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: $white-color;
  font-weight: $regular-weight;
  color: $black-color;

  &.hidden {
    overflow: hidden;
  }
}

.header {
  padding-top: 2.2rem;

  @include for-size(lg-up) {
    padding-top: 2rem;
  }
}

.overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;

  @include for-size(lg-up) {
    z-index: 9998;
  }

  &--active {
    opacity: 0.9;
    visibility: visible;
  }
}

.hamburger {
  margin: 0 3.6rem;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  @include for-size(lg-up) {
    display: none;
  }

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &--active {
    transform: translateX(calc(50vw - 3.6rem));
  }

  &__box {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: $primary-box-shadow;
  }

  &__inner {
    @include hamburger-line;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.1s 0.2s ease-in-out;

    &::before,
    &::after {
      @include hamburger-line;

      content: '';
      left: 0;
      transition: transform 0.2s 0.2s ease-in-out, width 0.1s linear;
    }

    &::before {
      top: -0.6rem;
    }

    &::after {
      top: 0.6rem;
      width: 1rem;
    }
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner:before {
    transform: translateY(0.6rem) rotate(45deg);
  }

  &--active &__inner:after {
    width: 1.6rem;
    transform: translateY(-0.6rem) rotate(-45deg);
  }
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0.4s;
}

.navigation {
  height: 100vh;
  width: 50vw;
  background-color: $white-color;
  box-shadow: $primary-box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateX(-50vw);

  @include for-size(lg-up) {
    width: 100%;
    height: inherit;
    position: relative;
    transform: none;
    visibility: visible;
    display: flex;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    padding-bottom: 2rem;
  }

  &--active {
    transform: translateX(0px);
    transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0s;
    visibility: visible;
  }

  &__logo {
    display: none;
    padding: 1rem;

    @include for-size(lg-up) {
      display: block;
      font-size: 1.8rem;
      font-weight: $semibold-weight;
      text-decoration: none;
      color: $black-color;
      margin-left: 9rem;
    }
  }

  &__list {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;

    & > * {
      justify-self: center;
      text-align: center;
    }

    @include for-size(lg-up) {
      margin: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__item {
    margin-top: 2rem;

    @include for-size(lg-up) {
      margin-top: 0;
    }

    a {
      display: block;
      position: relative;
      font-size: 1.6rem;
      text-decoration: none;
      color: $black-color;
      padding: 2rem 3rem;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: $black-color;
        color: $white-color;
      }

      @include for-size(lg-up) {
        font-size: 1.3rem;
        margin: 0 2.25rem;
        padding: 1rem;
      }
    }
  }

  .social__list {
    display: flex;
    justify-content: center;

    @include for-size(lg-up) {
      margin-right: 9rem;
    }

    .social__item:first-child {
      margin-right: 2rem;
    }

    .social__item a {
      display: block;
      padding: 1rem;
      transition: transform 0.2s ease-in-out;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.6rem;

  @include for-size(lg-up) {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 9rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding-bottom: 12rem;
  margin-bottom: 12rem;
  border-bottom: 1px solid #dfdfdf;

  @include for-size(lg-up) {
    border-bottom: 0;
    border-right: 1px solid #dfdfdf;
    padding: 2rem 12rem;
  }

  @include for-size(xl-up) {
    border-bottom: 0;
    border-right: 1px solid #dfdfdf;
    padding: 2rem 20rem;
  }

  &__picture {
    object-position: center;

    @include for-size(sm-up) {
      max-width: 20.1rem;
      max-height: 17.9rem;
    }
  }

  &__title,
  &__subtitle {
    font-weight: $medium-weight;
    text-align: center;
  }

  &__title {
    font-size: 3.3rem;
    line-height: 4.2rem;
    margin: 6.2rem 0 2rem;

    @include for-size(lg-up) {
      font-size: 3.7rem;
    }
  }

  &__subtitle {
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding: 0 6rem 10rem;
    color: $secondary-color;

    @include for-size(lg-up) {
      font-size: 2rem;
      padding: 0 6rem 3.5rem;
    }
  }

  &__button {
    cursor: pointer;
    background-color: $primary-color;
    font-size: 1.3rem;
    color: $white-color;
    padding: 2rem 6rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: $medium-weight;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken($primary-color, 15%);
    }

    @include for-size(lg-up) {
      font-size: 1.6rem;
    }
  }
}

.company {
  text-align: center;
  padding-bottom: 10rem;

  &__logo {
    @include for-size(sm-up) {
      max-width: 7.5rem;
      max-height: 4.4rem;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    margin: 20px 0;
  }

  &__details {
    font-size: 1.3rem;
  }

  .details__heading {
    font-size: 1.6rem;
    font-weight: $semibold-weight;
    line-height: 2.2rem;

    &::after {
      content: '';
      display: block;
      left: 0;
      border-top: 3px solid $black-color;
      width: 1.3rem;
      margin: 5rem auto;
    }
  }

  .details__list {
    line-height: 1.8rem;
    font-size: 1.3rem;

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      color: $black-color;
    }
  }

  .details__item:nth-child(2) {
    padding-bottom: 1rem;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 4.86rem);
  width: calc(100% - 1.5rem - 3.5rem);
  background-color: $white-color;
  z-index: 9999;
  padding: 3.85rem 1.5rem 1rem 3.5rem;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;

  @include for-size(lg-up) {
    width: 600px;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3.5rem;
  }

  &__heading {
    font-size: 2.7rem;
    line-height: 3.2rem;
    font-weight: $medium-weight;
    width: 100%;
  }

  &__close {
    padding: 2rem;
    position: relative;
    top: 0;
    left: -2rem;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;

    .sr-only {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      top: 25%;
      content: '';
      height: 1.8rem;
      width: 0.1rem;
      background-color: $primary-color;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    width: 100%;
    height: calc(100% - 7rem);
  }

  &__list {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: block;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      box-shadow: 0px -24px 10px 14px rgba(255, 255, 255, 0.75);
    }
  }

  &__item {
    border-bottom: 1px solid #dfdfdf;

    margin-right: 1.5rem;
    transition: all 0.2s linear;

    &:hover a > * {
      margin-right: 2rem;
      transform: translateX(2rem);
    }

    &:first-child {
      border-top: 1px solid #dfdfdf;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 2rem 0;
      text-decoration: none;
      transition: all 0.2s linear;
    }
  }

  .item__title {
    transition: all 0.2s linear;
    font-size: 1.7rem;
    font-weight: $medium-weight;
    line-height: 2rem;
    color: $primary-color;
  }

  .item__subtitle {
    transition: all 0.2s linear;
    font-size: 1.3rem;
    font-weight: $medium-weight;
    line-height: 1.6rem;
    color: $secondary-color;
  }
}

// Styles for lightbox scrollbar

/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f3f7;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;

  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
